<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information about me!</p>
        <p> WEll, I'm Phyllis. and I really like Harry :3 </p>
    </body>
</html>